<!-- <div class="client-form">
    <div class="client-form">
      <form [formGroup]="clientForm" (ngSubmit)="saveClient()">
        <p>
          <label> Firstname </label>
          <input type="text" name="firstnameTxt" formControlName="firstname" required />
        </p>
        <p>
          <label> Lastname </label>
          <input type="text" name="lastnameTxt" formControlName="lastname" required />
        </p>
        <p>
          <label> Email </label>
          <input type="email" name="emailTxt" formControlName="email" required />
        </p>
        <p>
          <label> Telephone </label>
          <input type="tel" name="telephoneTxt" formControlName="telephoneNumber" />
        </p>
        <p>
          <label> Company Name </label>
          <input type="text" name="companyTxt" formControlName="companyName" required />
        </p>
        <p><button type="submit" [disabled]="!clientForm.valid">Save</button></p>
      </form>
    </div>
  </div> -->


  <mat-card class="client-form">
    <mat-card-header>
      <mat-card-title>Add Client</mat-card-title>
    </mat-card-header>
    <form [formGroup]="clientForm" (ngSubmit)="saveClient()">
      <mat-form-field>
        <input matInput type="text" name="firstnameTxt" formControlName="firstname" placeholder="Firstname..." required />
      </mat-form-field>
      <mat-form-field>
        <input matInput type="text" name="lastnameTxt" formControlName="lastname" placeholder="Lastname..." required />
      </mat-form-field>
      <mat-form-field>
        <input matInput type="email" name="emailTxt" formControlName="email" placeholder="Email..." required />
      </mat-form-field>
      <mat-form-field>
        <input matInput type="tel" name="telephoneTxt" formControlName="telephoneNumber" placeholder="Telephone..." />
      </mat-form-field>
      <mat-form-field>
        <input matInput type="tel" name="companyTxt" formControlName="companyName" placeholder="Company Name..." required />
      </mat-form-field>
      <p>
        <button mat-raised-button color="primary" type="submit" [disabled]="!clientForm.valid">Save</button>
      </p>
    </form>
  </mat-card>