// .client-form {
   
//     padding-top: 20px;
//     p {
//       font-size: 1.1em;
//     }
//     button {
//       font: 1em sans-serif;
//     }
//   }

  .client-form {
    padding-top: 20px;
    margin-top: 40px;
    mat-form-field {
        width: 60%;
    }
    button {
        font: 1em sans-serif;
    }
}